.icons {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 1rem;
  width: 100vw;
}

.icons a {
  text-decoration: none;
  background: none;
  font-size: 8px;
  margin: 0.5rem;
}

.company-name {
  font-size: 1.4rem;
  text-align: end;
  margin-right: 1.3rem;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
